.modal-backdrop {
  position: fixed; // <- this anchors it to the viewport
  inset: 0;
  background-color: rgba(0, 0, 0, 0.4); // backdrop effect
  display: flex;
  justify-content: center;
  align-items: flex-end; // or 'center' if you want it centered
  z-index: 1000; // ensure it's above other content
  touch-action: none; // prevent interaction with the backdrop
}

.modal {
  background-color: var(--demetra-background);
  width: 100%;
  border-top-left-radius: 32px;
  border-top-right-radius: 32px;
  overflow: hidden;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25);
  animation: slideUp 0.3s ease-out;
}

/* Slide animation */
@keyframes slideUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

.modal-header {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;

  .title {
    flex-grow: 1;
  }

  img[alt="close"] {
    cursor: pointer;
  }
}

.modal-content {
  padding: 16px;
  margin-bottom: 32px;

  .language-form {
    background-color: var(--demetra-white);
    border-radius: 16px;
    padding: 0 16px;
  }

  .language-option {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
    padding: 12px 0;
    border-bottom: 1px solid var(--demetra-background);
    cursor: pointer;

    .language-text {
      flex-grow: 1;
    }

    input[type="radio"] {
      appearance: none; // remove native style
      width: 24px; // size
      height: 24px;
      border: 2px solid var(--demetra-text-color);
      border-radius: 50%;
      position: relative;
      outline: none;
      cursor: pointer;
      transition: all 0.2s ease-in-out;

      &:checked::before {
        content: "";
        display: block;
        width: 16px;
        height: 16px;
        background-color: var(--demetra-text-color);
        border-radius: 50%;
        position: absolute;
        top: 2px;
        left: 2px;
      }
    }
  }
}
