<div class="header-container">
  <div class="header-left">
    <img
      class="header-logo"
      [src]="'assets/icons/' + themeService.iconFolder() + '/demetra-logo-64x64.svg'"
      alt="logo"
    />
    <h1 class="style-h1">{{ "SITE.TITLE" | translate }}</h1>
  </div>
  <img
    class="header-dots"
    [src]="'assets/icons/' + themeService.iconFolder() + '/dots-36x36.svg'"
    alt="dots"
    (click)="togglePopover()"
    #triggerButton
  />
</div>

<div class="popover" #popover [class.show]="isPopoverOpen()">
  <div class="popover-row" (click)="openLanguageModal()">
    <h6 class="style-h6">{{ "POPOVER.LANGUAGE" | translate }}</h6>
    <img [src]="getSelectedLanguageIcon()" alt="lang" />
  </div>
  <div class="divider"></div>
  <div class="popover-row" (click)="openThemeModal()">
    <h6 class="style-h6">{{ "POPOVER.THEME" | translate }}</h6>
    <img [src]="getSelectedThemeIcon()" alt="theme" />
  </div>
</div>

<language-modal
  [isVisible]="showLangModal()"
  [selectedLanguage]="selectedLanguage()"
  (close)="onLangModalClosed()"
></language-modal>
<theme-modal
  [isVisible]="showThemeModal()"
  [selectedTheme]="themeService.currentTheme()"
  (close)="onThemeModalClosed()"
></theme-modal>
