<div class="accordion-item">
  <!-- Title line -->
  <div class="title-line" (click)="toggle()">
    <img [src]="imageUrl()" alt="icon" />
    <h5 class="style-h5 title">{{ title() | translate }}</h5>
    <img [class.rotate-img]="isExpanded()" src="assets/icons/arrow-down-24x24.svg" alt="arrow" />
  </div>

  @if (isExpanded()) {
    <!-- Divider -->
    <div class="divider"></div>

    <!-- Description -->
    <div class="description">
      <p class="style-p x-small">{{ description() | translate }}</p>
    </div>
  }
</div>