.accordion-item {
  padding: 12px 0;

  .title-line {
    display: flex;
    align-items: center;
    gap: 8px;

    .title {
      flex-grow: 1;
    }

    .rotate-img {
      rotate: 180deg;
    }
  }

  .divider {
    border-bottom: 0.5px solid var(--demetra-blue);
    margin: 0 32px 0 44px;
    &.dark {
      border-bottom: 0.5px solid var(--demetra-gold);
    }
  }

  .description {
    padding: 8px 32px 0 44px;
  }
}
