@if (feedbacks().length) {
  <h4 class="style-h4">
    {{ "FEEDBACKS.TITLE" | translate }}
  </h4>
}
<swiper-container class="content-wrapper" pagination="true" [loop]="true">
  @for (feedback of feedbacks(); track feedback.name) {
    <swiper-slide class="content">
      <div class="title">
        <img [src]="getFeedbackAvatar(feedback.type)" alt="avatar" />
        <h6 class="style-h6">{{ feedback.name | translate }}</h6>
      </div>
      <p class="style-p x-small">{{ feedback.text | translate }}</p>
    </swiper-slide>
  }
</swiper-container>
