demetra-header {
  position: sticky;
  top: 0;
  z-index: 10;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 16px 16px;
  gap: 16px;
}

accordion-section,
demetra-intro,
about-us,
clients-feedbacks {
  width: 100%;
}
