<demetra-header />
<div class="content-wrapper">
  <div class="site-intro">
    <img class="cover-image" src="assets/images/demetra-cover.svg" alt="D" />
    <p class="style-p description">{{ "SITE.DESCRIPTION" | translate }}</p>
  </div>

  <accordion-section [title]="'SECTION1.TITLE'" [items]="items1" />
  <accordion-section [title]="'SECTION2.TITLE'" [items]="items2" />

  <about-us />

  <clients-feedbacks [feedbacks]="feedbacks" />
</div>
<!-- 
<div>{{ "HELLO" | translate }}</div>
<div>{{ "MAIN.TITLE" | translate }}</div>
<change-language></change-language> -->

<!-- From Uiverse.io by JkHuger --><!-- 
<label for="theme" class="theme">
  <span class="theme__toggle-wrap">
    <input
      id="theme"
      class="theme__toggle"
      type="checkbox"
      role="switch"
      name="theme"
      value="dark"
    />
    <span class="theme__fill"></span>
    <span class="theme__icon">
      <span class="theme__icon-part"></span>
      <span class="theme__icon-part"></span>
      <span class="theme__icon-part"></span>
      <span class="theme__icon-part"></span>
      <span class="theme__icon-part"></span>
      <span class="theme__icon-part"></span>
      <span class="theme__icon-part"></span>
      <span class="theme__icon-part"></span>
      <span class="theme__icon-part"></span>
    </span>
  </span>
</label>
 -->